{% extends 'layout.html.twig' %}
{% block title %}Modifier un article -
{% endblock %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Administation</h1>
            <span class="subheading">Modifier un article</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ include('Back/articleForm.html.twig') }}
      </div>
    </div>
  </div>

{% endblock %}