<form action="" method='POST'>
  <div class="control-group">
    <div class="form-group floating-label-form-group controls">
      <label>Titre</label>
      <input type="text" class="form-control" placeholder="Titre" value="{{ article.title }}" name="title" required="required">
      <p class="help-block text-danger"></p>
    </div>
  </div>
  <div class="control-group">
    <div class="form-group floating-label-form-group controls">
      <label>Sous Titre</label>
      <input type="text" class="form-control" placeholder="Sous titre" value="{{ article.subTitle }}" name="subTitle">
      <p class="help-block text-danger"></p>
    </div>
  </div>
  <div class="control-group">
    <div class="form-group floating-label-form-group controls">
      <label>Article</label>
      <textarea rows="8" class="form-control" placeholder="Article" id="content" name="content" required="required">{{ article.content }}</textarea>
      <p class="help-block text-danger"></p>
    </div>
  </div>
  <br>
  <div id="success"></div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" id="sendMessageButton">Envoyez</button>
  </div>
</form>