{% extends 'layout.html.twig' %}

{% block title %}Contact -
{% endblock %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Contactez moi.</h1>
            <span class="subheading">Vous avez des questions ? J'ai des réponses.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Vos souhaitez me contacter ? Remplissez le formulaire ci-dessous pour m'envoyer un message.</p>
        {% if flash is not null %}
          <div class="alert alert-info">
            <p>{{ flash }}</p>
          </div>
        {% endif %}

        <form method="post">
          {{ form|raw }}
        </form>
      </div>
    </div>
  </div>

{% endblock %}